<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Calendar Init</title>
</head>
<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
         data-client_id="445665746825-fbah0k75nps5qfgd0rngsf5q0duf0d8q.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
  
</body>
</html>